LIFI_API_KEY=
MONGODB_URL=
ETHEREUM_RPC_URL=https://eth.drpc.org
BASE_RPC_URL=https://mainnet.base.org
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
OPTIMISM_RPC_URL=https://mainnet.optimism.io
INTENT_DEADLINE_SECONDS=3600
